<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% block meta %}
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        {% endblock %}

        <title><%= siteName %> - {{ viewName }}</title>

        {% block link %}
        <link rel="stylesheet" href="/lib/bootstrap/docs/assets/css/bootstrap.css" />
        <link rel="stylesheet" href="/lib/bootstrap/docs/assets/css/bootstrap-responsive.css" />
        {% endblock %}

        {% block script %}
        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/underscore/underscore-min.js"></script>
        <script src="/lib/bootstrap/docs/assets/js/bootstrap.min.js"></script>
        <script src="/lib/backbone/backbone-min.js"></script>
        <script src="/lib/backbone.marionette/public/javascripts/json2.js"></script>
        <script src="/lib/backbone.marionette/public/javascripts/backbone.babysitter.js"></script>
        <script src="/lib/backbone.marionette/public/javascripts/backbone.wreqr.js"></script>
        <script src="/lib/backbone.marionette/lib/backbone.marionette.min.js"></script>
        {% endblock %}

        {% include 'layouts/head.html' %}

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
        <div id="content">
            <div class="container">
                {% block layout %}{{ layout|raw }}{% endblock layout %}
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        Copyright &copy; {{ "now"|date('Y') }} <%= author %>
                    </div>
                </div>
            </div>
        </div>
        {% block inline%}{% endblock inline %}
    </body>
</html>
