{# title <%= routeName %> #}

{% extends 'layouts/one_column.twig' %}

{% block inline %} 

{% endblock inline %}

{% block content %}

<div class="page-header">
	<h1><%= routeName %></h1>
</div>

{% endblock content %}