{% extends 'layouts/master.twig' %}

{% block inline %} 

{% endblock inline %}

{% block sidebar %}

{% endblock sidebar %}

{% block content %}
<div class="font_cap">Fehler</div><br />
404 - Datei nicht gefunden<br />
Sie werden in 5 Sekunden auf die Startseite <a href="{{ urlFor('Home') }}"><%= siteName %></a> weitergeleitet...
<meta HTTP-EQUIV="REFRESH" content="5; url=/">
{% endblock content %}   