{# title Home #}

{% extends 'layouts/one_column.twig' %}

{% block inline %} 

{% endblock inline %}

{% block content %}

<div class="page-header">
	<h1>Welcome <small>to <%= siteName %></small></h1>
</div>

<div class="hero-unit">
  <h1>Installation successful</h1>
  <p>Slim Framework is installed with all needed components. Project ready for development!</p>
</div>

<p class="lead less-ready">
	Less is Ready
</p>

{% endblock content %}