{# title Home #}

{% extends 'layouts/one_column.twig' %}

{% block inline %} 
{#<script type="text/javascript" src="/js/page.js"></script>#}
{% endblock inline %}

{% block content %}

<div class="page-header">
	<h1>Willkommen <small>bei <%= siteName %></small></h1>
</div>

<div class="hero-unit">
  <h1>Erfolgreich installiert</h1>
  <p>Slim Framework mit allen wichtigen Grundfunktionen wurde installiert. Projekt entwicklungsbereit!</p>
</div>

{% endblock content %}